*.pyc
/documentation/Main.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc


test/external/
test/output/
external/


.idea/misc.xml
.idea/thesisconcepttraining.iml
__pycache__/
properties/__pycache__/
